@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans Japanese", sans-serif;
}

.btn {
  display: inline-block;
  padding: .4em;
  border: 1px solid;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  background-color: #fff;
}

.btn-ghost {
  border-color: #000;
  color: #333;
  background-color: #fff;
}

.banner {
  max-width: 100%;
}
.viewing
.Gravel
.symbolism {
  max-width: 100%;
}
